blockquote {
margin-inline-start: 2em;
margin-inline-end: 2em;
}
.infobox {
    border: 2px solid black;
    padding: 15px;
    padding-left: 10px;
    background: #FFCCCC;
    margin-bottom: 40px;
    margin-right: 15px;
    font-family: 'Chicago';
}
@media print {
  nav {
    display:none;
  }
  .window {
     margin-top:0px !important;
     border-left: 0px !important;
     border-right: 0px !important;
  }
  #idc-container-parent {
     display:none!important;
  }
 
  
}
article img {
    max-width:90%;
}
.computer {
    width:250px;
    border:1px solid;
    padding:4px;
    margin-bottom:20px;
}
@media screen and (min-width: 800px) {
.computer {
    margin-left:40px;
    float:right;
}
body {
    background-size: 8px!important;
    image-rendering: pixelated!important;
    image-rendering: -moz-crisp-edges!important;
}
.margins {
margin-left:40px!important;
margin-right:40px!important;
}
 .window {
    margin: 70 auto 40 auto !important;
    border: 1.75px solid black !important;
}
}
@media screen and (min-width: 800px), print  {
   #mobile-indicator {
        display: block !important;
    }
article {
    text-align:justify;
}
   .box-top {
   }
pre, code { font-size:15pt !important; }
.lambda {
    width:28px!important;
    margin-top:1.5px!important;
    margin-right:21px!important;
}
.box-top a {
    top:-4px!important;
}
.box-top {
    border-bottom:1.75px solid black!important;
    border-radius:15.75px 15.75px 0 0!important;
    padding-left:31.5px!important;
    padding-top:7px!important;
    padding-bottom:5.25px!important;
    padding-right:31.5px!important;
    font-size:25.25px!important;
    height:32px!important;
}
.right-icons img {
    width: 28px!important;
}
.spacer{
margin-left:5px;
}
.window {
    max-width: 1260px !important;
}
.window .title {
    padding-left:12.25px !important;
    padding-right:12.25px !important;
}
header {
    padding-left:1.75px !important;
    padding-right:1.75px !important;
    border-bottom: 1.75px solid black !important;
}
header .titlebar{
    background-size: 25.00px 31.50px !important;
    font-size:25.25px !important;
}
.status {
    font-size:19.25px!important;
    border-bottom:5.25px double black !important;
    padding:5.25px !important;
}
.status-left {
    padding-left:14px !important;
}
.status-right {
    padding-right:14px !important;
    
}
article {
    font-size:21px!important;
    padding:43.75px!important;
}
h1 {
    margin-top:7px !important;
}
h2 {
    margin-top:7px !important;
}
.portrait {
    width:350px!important;
    border:1.75px solid black!important;
    padding:7px!important;
    margin:17.5px!important;
    margin-left:52.5px!important;
    float:right;
}
}
details { display: block }
summary { display: block; border: 1px solid #666; padding: 0.5em; }
/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
/* These styles can be applied regardless of whether the fallback is needed */
summary { cursor: pointer; }
summary:hover, summary:focus { background: #ddd; }
/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details > * { display: none; }
/* This doesn’t work very well in Firefox 3.6.x */
/* .no-details details[open] > * { display: block; } */
/* The following doesn’t toggle correctly in WebKit:
.no-details details > summary:before { content: '► '; }
.no-details details[open] > summary:before { content: '▼ '; }
*/
/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details > summary:before { float: left; width: 20px; content: '► '; }
.no-details details.open > summary:before { content: '▼ '; }
/* For IE6 and IE7, who don’t support generated content, you could use padding-left + a background image instead */
/* I really couldn’t be bothered though. */
/*
.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
.no-details details.open > summary { background-position: 0 -20px; }
*/
/* Make sure summary remains visible */
.no-details details summary { display: block; }
/*
body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 720px;
    font-family: 'CMUConcreteRoman', serif;
    background:#dfdfdf;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 16px;
    margin-left: 12px;
    position:relative;
    top: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
#everything{
    border: solid;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width:  1px 1px 1px 1px;
    border-color: #aaaaaa;
    padding: 25px 60px;
    background: #fffffd;
}
div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}                                          

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}
*/
div.info {
    color: #555;
    font-style: italic;
}

@font-face {
  font-family: 'Chicago';
  src: url('/images/chicago.ttf') format('truetype');
}
@font-face {
  font-family: 'Geneva';
  src: url('/images/geneva.ttf') format('truetype');
}
@font-face {
  font-family: 'Iosevka';
  src: url('/images/Iosevka.eot?#iefix') format('embedded-opentype'), 
       url('/images/Iosevka.woff') format('woff'), 
       url('/images/Iosevka.ttf')  format('truetype'),
       url('images/Iosevka.svg#Iosevka') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka';
  src: url('/images/Iosevka-Bold.eot?#iefix') format('embedded-opentype'), 
       url('/images/Iosevka-Bold.woff') format('woff'), 
       url('/images/Iosevka-Bold.ttf')  format('truetype'),
       url('images/Iosevka-Bold.svg#Iosevka') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('/images/Iosevka-Italic.eot?#iefix') format('embedded-opentype'), 
       url('/images/Iosevka-Italic.woff') format('woff'), 
       url('/images/Iosevka-Italic.ttf')  format('truetype'),
       url('images/Iosevka-Italic.svg#Iosevka') format('svg');
  font-weight: normal;
  font-style: italic;
}
.math { }

.display-math {
    display:block;
    margin:auto !important;
}
.hyphenate {
  text-align:justify;
}
code{white-space: pre;}
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; background-color: #f8f8f8; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }       
pre, code { background-color: #f8f8f8; font-family: 'PragmataPro','Iosevka', monospace; font-size:11pt; -webkit-font-feature-settings: "liga" 1; font-feature-settings: "liga" 1; }
span.kw { color: #204a87; font-weight: bold; }
span.dt { color: #204a87; }
span.dv { color: #0000cf; }
span.bn { color: #0000cf; }
span.fl { color: #0000cf; }
span.ch { color: #4e9a06; }
span.st { color: #4e9a06; }
span.co { color: #8f5902; font-style: italic; }
span.ot { color: #8f5902; }
span.al { color: #ef2929; }
span.fu { color: #116677; }
span.er { font-weight: bold; }
/* Aspects. */
pre.Agda a.Comment       { color: #B22222 }
pre.Agda a.Keyword       { color: #CD6600 }
pre.Agda a.String        { color: #B22222 }
pre.Agda a.Number        { color: #A020F0 }
pre.Agda a.Symbol        { color: #404040 }
pre.Agda a.PrimitiveType { color: #0000CD }
pre.Agda a.Operator      {}

/* NameKinds. */
pre.Agda a.Bound                  { color: black   }
pre.Agda a.InductiveConstructor   { color: #008B00 }
pre.Agda a.CoinductiveConstructor { color: #8B7500 }
pre.Agda a.Datatype               { color: #0000CD }
pre.Agda a.Field                  { color: #EE1289 }
pre.Agda a.Function               { color: #0000CD }
pre.Agda a.Module                 { color: #A020F0 }
pre.Agda a.Postulate              { color: #0000CD }
pre.Agda a.Primitive              { color: #0000CD }
pre.Agda a.Record                 { color: #0000CD }

/* OtherAspects. */
pre.Agda a.DottedPattern      {}
pre.Agda a.UnsolvedMeta       { color: black; background: yellow         }
pre.Agda a.UnsolvedConstraint { color: black; background: yellow         }
pre.Agda a.TerminationProblem { color: black; background: #FFA07A        }
pre.Agda a.IncompletePattern  { color: black; background: #F5DEB3        }
pre.Agda a.Error              { color: red;   text-decoration: underline }
pre.Agda a.TypeChecks         { color: black; background: #ADD8E6        }

/* Standard attributes. */
pre.Agda a { text-decoration: none }
pre.Agda a[href]:hover { background-color: #B4EEB4 }
a.sourceLine {
   color: black;
}
.hidden { display : none }
table {border-collapse: collapse;}
td {border: 1px solid black; padding: 3px; vertical-align: top;}
th{text-align: left;}
.box-top {
    height:18px;
    border:1px solid black;
    border-radius:9px 9px 0 0;
    padding-left:18px;
    padding-top:4px;
    padding-bottom:3px;
    padding-right:18px;
    font-family:Chicago;
    font-size:15px;
    background:white;
}
body {
    padding: 0;
    margin: 0;
    background: #AAAAAA;
}
img {
    image-rendering: auto!important;
}
nav {
    background:black;
}
p {
margin-top: 0;
}

.right-icons {
    float:right;
}
.right-icons img {
    width: 16px;
}
.right-icons a {
    top: 1px !important;
}
.lambda {
    width:16px;
    margin-top:1px;
    margin-right:12px;
}
.window {
    background:white;
    border: 1px solid black;
    max-width: 720px;
    margin: 40 auto 40 auto;
}
.window .title {
    background:white;
    padding-left:7px;
    padding-right:7px;
}
header {
    padding-left:1px ;
    padding-right:1px;
    border-bottom: 1px solid black
}
.box-top a {
    text-decoration:none;
    color:black;
    position:relative;
    top:-3px;
}
header .titlebar{
    font-family: Chicago;
    background:
    linear-gradient(0deg,
     #ffffff 6%, 
     #ffffff 6%, 
     #ffffff 12%, 
     #000000 12%, 
     #000000 18%, 
     #ffffff 18%, 
     #ffffff 24%,
     #000000 24%, 
     #000000 30%, 
     #ffffff 30%, 
     #ffffff 36%,
     #000000 36%, 
     #000000 42%, 
     #ffffff 42%, 
     #ffffff 48%,
     #000000 48%, 
     #000000 54%, 
     #ffffff 54%, 
     #ffffff 60%,
     #000000 60% ,
     #000000 66%, 
     #ffffff 66%, 
     #ffffff 72%, 
     #000000 72%, 
     #000000 78%, 
     #ffffff 78%, 
     #ffffff 84%,
     #ffffff 84%, 
     #ffffff 90%, 
     #ffffff 90%, 
     #ffffff 96%,
     #ffffff 102% 
     );
    background-size: 20.00px 18.00px;
    background-repeat: repeat-x;
    text-align:center;
    font-size:15px;
}
.status {
    text-align:center;
    font-family: Geneva;
    font-size:11px;
    border-bottom:3px double black;
    position: relative;
    padding:3px
}
.status-left {
    position:absolute;
    padding-left:8px;
}
.status-right {
    position:absolute;
    right:0;
    padding-right:8px;
    
}
article {
    font-family: Geneva;
    font-size:12px;
    padding:25px;
}
h1 {
    margin-top:4px;
}
h2 {
    margin-top:4px;
}
p img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.inline-math {
    display:inline!important;
}
.portrait {
    width:200px;
    border:1px solid black;
    padding:4px;
}

a {
   color:cornflowerblue; 
}
#mobile-indicator {
    display: none;
}
@media screen {
.margins {
margin-left:20px;
margin-right:20px;
}
}
hr {
    border: 1px solid black;
}
